.profileContainer{
    display: flex;
}
.profileLeft{
    flex: 3.5;
}
.profileRight{
    flex: 9.5;
}
.profileRightTop{
    position: relative;
}
.profileCover{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    padding-bottom: 40px;
}
.profilephoto{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 190px;
    right: 470px;
    border: 5px solid white;
}
.profileRightBottom{
    display: flex;
}
.userName{
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.profileInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}